$mobile-breakpoint: 20rem;
$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;
$desktop-large-breakpoint: 120rem;

$color-primary: #000;
$color-secondary: #fff;
$color-tertiary: #ccc;
$mercury: #e1e1e1;
$alabaster: #fafafa;
$dark-grey: #333;

$border-divider: 1px solid $mercury;