@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/globals" as *;

.footer {
  background-color: $color-primary;
  padding: 2.5rem 0;
  border-top: 1px solid #e9ecef;
  border-radius: 3.125rem;
  margin: 0 1.5rem 1.5rem 1.5rem;

  &__left {
    margin-bottom: 1.875rem;

    .footer__brand {
      margin-bottom: 1.875rem;
      color: $color-secondary;

      &-link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $color-secondary;
        gap: 0.625rem;

        &:hover {
          color: $color-tertiary;
        }
      }

      &-icon {
        font-size: 3rem;
        color: $color-secondary;
      }

      &-text {
        font-size: 2.5rem;
        font-weight: bold;
      }

      .footer__text {
        color: #6c757d;
        font-size: 1rem;
        margin-top: 0.625rem;
        max-width: 16rem;
        color: $color-secondary;
      }
    }

    .footer__nav {
      &-title {
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 0.9375rem;
        color: #6c757d;
      }

      &-list {
        list-style: none;
        padding: 0;
      }

      &-item {
        margin-bottom: 0.625rem;
      }

      &-link {
        color: $color-secondary;
        text-decoration: none;
        font-size: 1.8rem;

        &:hover {
          color: #000;
        }
      }
    }

    .footer__legal {
      &-list {
        list-style: none;
        padding: 4rem 0 0 0;
        display: flex;
        gap: 0.9375rem;
        margin-top: 1.25rem;
      }

      &-link {
        color: #6c757d;
        text-decoration: none;

        &:hover {
          color: #000;
        }
      }
    }
  }

  &__right {
    .footer__newsletter {
      margin-bottom: 1.875rem;

      &-title {
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 0.9375rem;
        position: relative;
        display: inline-block;
      }

      &-form {
        display: flex;
        align-items: center;
      }

      &-input {
        flex: 1;
        padding: 0.625rem 0 1.5rem 0;
        background-color: $color-primary;
        border: none;
        border-bottom: 0.125rem solid white;
        margin-right: 0.625rem;
        font-size: 2rem;
        outline: none;
        color: $color-secondary;
      }

      &-button {
        background-color: $color-primary;
        border: none;
        cursor: pointer;
      }

      &-icon {
        color: $color-secondary;
        font-size: 2rem;
      }
    }
    
    .footer__columns {
      margin-bottom: 1.875rem;

      .footer__column {
        &-title {
          font-size: 1.5rem;
          font-weight: 400;
          margin-bottom: 0.9375rem;
          color: $alabaster;
          padding-top: 5rem;
        }

        &-list {
          list-style: none;
          padding: 0;
        }

        &-item {
          margin-bottom: 0.625rem;
          color: #6c757d;
        }

        &-link {
          color: #6c757d;
          text-decoration: none;

          &:hover {
            color: #000;
          }
        }
      }
    }

    .footer__social {
      display: flex;
      gap: 0.625rem;
      justify-content: flex-end;
      padding-top: 5rem;
      &-link {
        display: inline-block;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        background-color: $color-secondary;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &-icon {
        color: $color-primary;
      }
    }
  }
}
