@use './styles/partials/globals' as *;
@use './styles/partials/variables' as *;

// div {
// display: flex;
// justify-content: center;
// align-items: center;
// height: 100vh;
// color: $color-primary;
// }

.app-container {
    background-image: url('./assets/images/windmill-green.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: relative;
    border: 2px solid red;
    z-index: 0;
}